<section id="bio" class="bio-section">
    <h2 class="section-title">BIOGRAFIA</h2>
</section>

<style>
    .bio-section {
        padding: 2rem;
        background-color: #181823;
        text-align: start;
        height: 100vh;
    }
</style>
