---
const albumPaths = {
    469: "https://open.spotify.com/intl-es/album/5yI1IEnEUGYY5XDmtoWlrl",
    ardiente_deseo:
        "https://open.spotify.com/intl-es/album/7CMMAkhoElhzZ28vt5XO5w",
    contempla_más_allá_de_mi_carne:
        "https://open.spotify.com/intl-es/album/02zIc3YetVew50gAGJOe4u",
    cuánto_vale_el_mundo_sin_ti:
        "https://open.spotify.com/intl-es/album/2Yxf0lX1h3APH9gKMuPPQp",
    peligros_y_jazmines:
        "https://open.spotify.com/intl-es/track/0dDPHuII3u35L7TNtfwHlw",
    tu_y_yo: "https://open.spotify.com/intl-es/album/3OSGfFRhHu2Rm1uccUbEut",
};

const albums = Object.entries(
    import.meta.glob("/src/assets/discography/*.png", { eager: true }),
).map(([path, module]) => {
    const fileName = path.split("/").pop()?.replace(".png", "");
    return {
        title: fileName?.replace(/_/g, " ").toUpperCase() || "ALBUM",
        image: (module as { default: { src: string } }).default.src,
        redirect: albumPaths[fileName as keyof typeof albumPaths] || "#",
    };
});

// Helper function to get the href for an album
function getAlbumHref(title: string): string {
    return albumPaths[title as keyof typeof albumPaths] || "#";
}
---

<section id="discografia" class="discography-section">
    <h2 class="section-title">DISCOGRAFIA</h2>
    <div class="cards-container">
        {
            albums.map((album) => (
                <div class="card-wrapper">
                    <a
                        href={album.redirect}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="card"
                    >
                        <img
                            src={album.image}
                            alt={album.title}
                            class="card-image"
                        />
                    </a>
                    <h3 class="card-title">{album.title}</h3>
                </div>
            ))
        }
    </div>
</section>

<style>
    .discography-section {
        padding: 4rem 2rem;
        background-color: #181823;
        text-align: start;
    }

    .cards-container {
        padding-top: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 2rem;
        justify-items: left;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #181823;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition:
            transform 0.2s ease,
            box-shadow 0.2s ease;
        width: 250px;
        height: 250px;
    }

    .card:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        border: 2px solid rgba(0, 0, 232, 0.3);
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-title {
        font-family: "Bahar regular";
        font-size: 1rem; /* Smaller font size */
        font-weight: bold;
        margin-top: 0.5rem; /* Space between card and title */
        color: rgb(255, 253, 253, 0.4);
    }
</style>
