<section id="shows" class="shows-section">
    <h2 class="section-title">Shows</h2>
</section>

<style>
    .shows-section {
        padding: 2rem;
        background-color: #181823;
        text-align: start;
        height: 100vh;
    }
</style>
