<section id="shows" class="shows-section">
    <h2 class="section-title">SHOWS</h2>
    <h3>(Proximamente)</h3>
</section>

<style>
    .shows-section {
        padding: 4rem 2rem;
        background-color: #181823;
        text-align: start;
    }
    h3 {
        font-size: 1.5rem;
        color: #fdf900;
        opacity: 0.6;
        margin-left: 40px;
    }
</style>
