---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

// sections
import Init from "../pages/sections/init.astro";
import Discography from "./sections/discography.astro";
---

<Layout>
	<Header />
	<Init />
	<section id="shows" style="height: 100vh; background-color: #181823;">
	</section>
	<Discography />
	<section id="multimedia" style="height: 100vh; background-color: #181823;">
		<h1>Section 4</h1>
	</section>
	<section id="bio" style="height: 100vh; background-color: #181823;">
		<h1>Section 4</h1>
	</section>
</Layout>
